        body {
            font-family: Roboto;
            color: white;
            background-color: black;
        }
        .heading {
            font-size: 30px;
            font-weight: bold;
        }
        button {
            cursor: pointer;
        }
        #rock-img {
            height: 50px;
        }
        #paper-img,
        #scissors-img {
            height: 48px;
        }
        .rock,
        .paper,
        .scissors {
            background-color: black;
            padding: 30px;
            border-color: white;
            border-style: solid;
            margin-bottom: 50px;
            margin-right: 10px;
            border-radius: 100px;
        }
        .reset,
        .auto-stop {
            font-family: Roboto;
            font-size: 17px;
            background-color: white;
            color: black;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 13px;
            padding-right: 13px;
            border: none;
            cursor: pointer;
        }
        .result {
            font-size: 20px;
            font-weight: bold;
        }